.msg {
    overflow-wrap: break-word;
}

.msgInfo {
    font-style: italic;
    color: #c2eefb;
}

.msgUser {
    font-style: normal;
    color: #eee;
}

.msgError {
    font-style: italic;
    color: #faa;
}

.msgWarning {
    font-style: italic;
    color: #ffa;
}