* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #c5d1d4;
  color: #eee;
}

canvas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: #eee;
  border: 1px solid #aaa;
}

#drawingboard {
  width: 100vw;
  height: calc(100vh - 3rem);
}

.topbar {
  background-color: #333;
  color: #eee;
  width: 100%;
  height: 3rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.topbar div {
  display: flex;
  align-items: center;
}

.topbar .roomname {
  margin: 1rem;
  text-align: right;
}

.topbar button {
  display: inline-block;
  position: relative;
  margin: 0.25rem;
  width: 2.5rem;
  height: 2.5rem;

  background-color: #333;
  border: 0;
  border-radius: 8px;
  color: #eee;

  font-size: 1.25rem;
}

.topbar button svg {
  color: inherit;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.topbar button:hover {
  background-color: #444;
}

.topbar button:active,
.topbar button[aria-pressed="true"] {
  background-color: #222;
}

.topbar-colorpicker {
  position: absolute;
  transform: translate(1rem, 1rem);
  background-color: #333;
  padding: 1rem;
  border-radius: 8px;
  border: 1px solid #333;
  z-index: 100;
}

.topbar hr {
  display: block;
  border: 0;
  border-left: 1px solid #444;
  height: 2rem;
}

#chatbox {
  position: absolute;
  bottom: 0.5rem;
  left: 0.5rem;
  line-height: 1.5rem;
  background-color: #2222222d;
  padding: 0.5rem;
  min-width: 20rem;
  border-radius: 8px;
  pointer-events: none;

  text-shadow: 1px 1px 2px #000;
}

#chatbox ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}